{{!Registro del usuario}}
<div class="col-md-4 mx-auto">
    <div class="card">
    <div class="card-header">
        <h2>Ingreso</h2>
    </div>
    <div class="card-body">
        <form action="/users/login" method="POST">
            <div class="form-group">
                <input type="text" name="user" class="form-control" placeholder="Correo" 
                autofocus>
            </div>
            <div class="form-group">
                <input type="text" name="password" class="form-control" placeholder="Contraseña">
            </div>
            <div class="form-group">
                <button class="btn btn-primary btn-block" type="submit">
                    Listo 
                </button>
            </div>
        </form>
    </div>
    </div>
</div>