<div class="jumbotron mt-4">
    <h1 class="display-4"> Computacion Grafica </h1>
    <p class="lead"> Programa para el manejo de usuarios y de su historial</p>
    <a href="http://localhost:8080/users/signup" class="btn btn-primary btn.lg">NewUser</a>
    <a href="http://localhost:8080/users/login" class="btn btn-primary btn.lg">User</a>
    <a href="http://localhost:8080/history" class="btn btn-primary btn.lg">History</a>
</div>
