<div class="jumbotron mt-4">
    <h1 class="display-4"> Computacion Grafica </h1>
    <p class="lead"> Proyecto de Sistemas de Aire Acondicionado</p>
    <a href="http://localhost:8080/users/singup" class="btn btn-primary btn.lg">NewUser</a>
    <a href="http://localhost:8080/users/login" class="btn btn-primary btn.lg">User</a>
</div>